@import url(https://fonts.googleapis.com/css?family=Poppins);

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}

body{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: rgb(22, 81, 120);
      background-size: cover;
      background-position: center;
}

div{
      height: 80vh;
}

h1{
      color: powderblue;
      text-shadow: 2px 2px 24px black;
      font-weight: bold;
      background: rgba(79, 149, 223, 1);
      border-radius: 20px;
      padding: 10px;
      border: 2px solid skyblue;
}

.logout{
      width: 150px;
      height: 45px;
      background: rgb(9, 154, 211);
      border: none;
      outline: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      cursor: pointer;
      font-size: 16px;
      color: #333;
      font-weight: 600;
      
}

.logout:hover{
      text-shadow: #333;
      background-color: skyblue;
}

.logout:active{
      background: rgb(236, 226, 211) ;
      transform: scale(0.97); 
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

@media screen and (max-width: 768px) {
     div {
      width: 80%;
      text-align: center;
     }
     .logout{
      width: 200px;
     }
  }
